In [ ]:
1. CREATE DATABASE company_db;
   USE company_db;
   CREATE TABLE employee(
       employee_id INT PRIMARY KEY,
       first_name VARCHAR(50),
       last_name VARCHAR(50),
       department VAECHAR(50),
       salarly INT,
       hire_date DATE
   );

2.  INSERT INTO Employee(employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Metha', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000 '2022-02-10');

3.SELECT * FROM Empolyee
 ORDER BY salary ASC;

4.  SELECT * FROM Empoyees
    ORDER BY department ASC, salary DESC;

5.  SELECT * FROM Employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

6. INSERT INTO Sales (sales_id, customer_name, amount, sales_date)
  VALUE (1, 'Aditi', 1500, '2024-08-01');
  INSERT INTO Sales (sales_id, customer_name, amount, sales_date)
  VALUE (2, 'Rohan', 2200, '2024-08-03');
  INSERT INTO Sales (sales_id, customer_name, amount, sales_date)
  VALUE (3, 'Aditi', 3500, '2024-09-05');
  INSERT INTO Sales (sales_id, customer_name, amount, sales_date)
  VALUE (4, 'Meena', 2700, '2024-09-15');
  INSERT INTO Sales (sales_id, customer_name, amount, sales_date)
  VALUE (5, 'Rohan', 4500, '2024-09-25');

7. SELECT * FROM Sales ORDER BY amount DESC;

8. SELECT * FROM Sales WHERE customer_name = 'Aditi';

9. The primary key is a unique identifier within its table, whereas a foreign key is a reference in one table to a primary key in another. Primary keys enforce uniqueness within their table, ensuring each record is identifiable. Foreign keys, however, are used to establish and navigate relationships between tables.

10. It is rules enforced on data columns in a table, used to limit the type of data that can go into a table.they are used to ensure the quanlity and consistency of data. ex- NOT NULL, CHECK, UNIQUE, PRIMARY KEY and DEFAULT.